In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [106]:
data = pd.read_csv('movie_bd_v5.csv')

In [82]:
data.sample(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
883,tt0258000,48000000,196397415,Panic Room,Jodie Foster|Kristen Stewart|Forest Whitaker|D...,David Fincher,It was supposed to be the safest room in the h...,Trapped in their New York brownstone's panic r...,112,Crime|Drama|Thriller,Columbia Pictures Corporation|Hofflund/Polone|...,3/29/2002,6.4,2002
1746,tt0414055,25000000,74237563,Elizabeth: The Golden Age,Cate Blanchett|Clive Owen|Geoffrey Rush|Lauren...,Shekhar Kapur,Woman. Warrior. Queen.,This movie is a Sequel to the First Elizabeth ...,114,Drama|History|Romance,Universal Pictures|StudioCanal|Working Title F...,9/9/2007,6.4,2007

In [11]:
data.dtypes

imdb_id                         object
budget                           int64
revenue                          int64
original_title                  object
cast                            object
director                        object
tagline                         object
overview                        object
runtime                          int64
genres                          object
production_companies            object
release_date            datetime64[ns]
vote_average                   float64
release_year                     int64
dtype: object

In [12]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [38]:
answers = {} # создадим словарь для ответов

In [107]:
# Преобразуем release_date к типу данных datetime
data.release_date = pd.to_datetime(data.release_date)

# Добавим расчетный столбец: прибыль = сборы - бюджет
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

In [40]:
# Решение
data[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

In [41]:
# Ответ
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +

# 2. Какой из фильмов самый длительный (в минутах)?

In [42]:
# Решение
data[data['runtime'] == data['runtime'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

In [43]:
# Ответ
answers['2'] = '2. Gods and Generals (tt0279111)' # +

# 3. Какой из фильмов самый короткий (в минутах)?

In [44]:
# Решение
data[data['runtime'] == data['runtime'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

In [45]:
# Ответ
answers['3'] = '3. Winnie the Pooh (tt1449283)' # +

# 4. Какова средняя длительность фильмов?

In [46]:
# Решение
round(data['runtime'].mean(), 0)

110.0

In [53]:
# Ответ
answers['4'] = '2. 110' # +

# 5. Каково медианное значение длительности фильмов?

In [48]:
# Решение
round(data['runtime'].median(), 0)

107.0

In [52]:
# Ответ
answers['5'] = '2. 107' # +

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [51]:
# Решение
data[data['profit'] == data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

In [55]:
# Ответ
answers['6'] = '5. Avatar (tt0499549)' # +

# 7. Какой фильм самый убыточный?

In [56]:
# Решение
data[data['profit'] == data['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [57]:
# Ответ
answers['7'] = '5. The Lone Ranger (tt1210819)' # +

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [58]:
# Решение вариант 1
data[data['profit'] > 0].shape[0]

1478

In [59]:
# Решение вариант 2
len(data[data['profit'] > 0].index)

1478

In [61]:
# Решение вариант 3
len(data[data['revenue'] > data['budget']].index)

1478

In [62]:
# Ответ
answers['8'] = '1. 1478' # +

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [69]:
# Решение
data2008 = data[data['release_year'] == 2008] # сначала берем все фильмы, выпущенные в 2008 году
data2008[data2008['revenue'] == data2008['revenue'].max()] # потом получаем самый кассовый из них

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

In [70]:
# Ответ
answers['9'] = '4. The Dark Knight (tt0468569)' # +

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [71]:
# Решение
years_list = [2012, 2013, 2014]

data_period = data[data['release_year'].isin(years_list)] # сначала берем все фильмы за период
data_period[data_period['profit'] == data_period['profit'].min()] # потом получаем самый убточный из них

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [72]:
# Ответ
answers['10'] = '5. The Lone Ranger (tt1210819)' # +

# 11. Какого жанра фильмов больше всего?

In [112]:
# Сначала скопируем датафрейм, чтобы работать с ним независимо от исходного
data_new = data.copy(deep=True)

# Решение
# Преобразуем строку в список жанров
data_new['genres'] = data_new['genres'].apply(lambda x: x.split('|')) 

# Размножим количество строк по каждому фильму на количество жанров
data_splitted_by_genre = data_new.explode('genres')

# Сгруппируем, чтобы получить количество фильмов каждого жанра
films_by_genre = data_splitted_by_genre.groupby(['genres'])['imdb_id'].count().reset_index()
films_by_genre[films_by_genre['imdb_id'] == films_by_genre['imdb_id'].max()]

  genres  imdb_id
6  Drama      782

In [102]:
# Ответ
answers['11'] = '3. Drama' # +

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [113]:
# Сначала скопируем датафрейм, чтобы работать с ним независимо от исходного
data_new1 = data.copy(deep=True)
# Решение
# Отбираем фильмы, у которых есть прибыль
data_new1 = data_new1[data_new1['profit'] > 0]

# Преобразуем строку в список жанров
data_new1['genres'] = data_new1['genres'].apply(lambda x: x.split('|')) 

# Размножим количество строк по каждому фильму на количество жанров
data_splitted_by_genre1 = data_new1.explode('genres')

# Сгруппируем, чтобы получить количество фильмов каждого жанра
films_by_genre1 = data_splitted_by_genre1.groupby(['genres'])['imdb_id'].count().reset_index()
films_by_genre1[films_by_genre1['imdb_id'] == films_by_genre1['imdb_id'].max()]

  genres  imdb_id
6  Drama      560

In [135]:
# Ответ
answers['12'] = '1. Drama' # +

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [121]:
# Сначала скопируем датафрейм, чтобы работать с ним независимо от исходного
data_new2 = data.copy(deep=True)
# Решение
# Преобразуем строку в список режиссеров
data_new2['director'] = data_new2['director'].apply(lambda x: x.split('|')) 

# Размножим количество строк по каждому фильму на количество режиссеров
data_splitted_by_dir = data_new2.explode('director')

# Группируем и считаем суммарные сборы по каждому режисеру
revenue_by_dir = data_splitted_by_dir.groupby(['director'])['revenue'].sum().reset_index()
revenue_by_dir[revenue_by_dir['revenue'] == revenue_by_dir['revenue'].max()]

          director     revenue
727  Peter Jackson  6490593685

In [122]:
# Ответ
answers['13'] = '5. Peter Jackson' # +

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [132]:
# Сначала скопируем датафрейм, чтобы работать с ним независимо от исходного
data_new3 = data.copy(deep=True)
# Решение
# Отбираем только фильмы, которые относятся к Action
data_new3 = data_new3[data_new3['genres'].apply(lambda x: 'Action' in x)]

# Преобразуем строку в список режиссеров
data_new3['director'] = data_new3['director'].apply(lambda x: x.split('|')) 

# Размножим количество строк по каждому фильму на количество режиссеров
data_splitted_by_dir1 = data_new3.explode('director')

# Группируем и считаем количество фильмов по каждому режисеру
action_films_by_dir = data_splitted_by_dir1.groupby(['director'])['imdb_id'].count().reset_index()
action_films_by_dir[action_films_by_dir['imdb_id'] == action_films_by_dir['imdb_id'].max()]

             director  imdb_id
296  Robert Rodriguez        9

In [137]:
# Ответ
answers['14'] = '3. Robert Rodriguez' # +

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [143]:
# Сначала скопируем датафрейм, чтобы работать с ним независимо от исходного
data_new4 = data.copy(deep=True)
# Решение
data_new4 = data_new4[data_new4['release_year'] == 2012][['imdb_id','revenue','cast']]

# Преобразуем строку в список актеров
data_new4['cast'] = data_new4['cast'].apply(lambda x: x.split('|')) 

# Размножим количество строк по каждому фильму на количество актеров
data_splitted_by_cast = data_new4.explode('cast')

# Группируем и считаем суммарные сборы по каждому актеру
revenue_by_cast = data_splitted_by_cast.groupby(['cast'])['revenue'].sum().reset_index()
revenue_by_cast[revenue_by_cast['revenue'] == revenue_by_cast['revenue'].max()]

               cast     revenue
77  Chris Hemsworth  2027450773

In [144]:
# Ответ
answers['15'] = '3. Chris Hemsworth' # +

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [148]:
# Сначала скопируем датафрейм, чтобы работать с ним независимо от исходного
data_new5 = data.copy(deep=True)
# Решение
# Отбираем высокобюджетные фильмы (интересно, откуда я должна была понять сама, что это означает?)
data_new5 = data_new5[data_new5['budget'] > data_new5['budget'].mean()][['imdb_id','cast']]

# Преобразуем строку в список актеров
data_new5['cast'] = data_new5['cast'].apply(lambda x: x.split('|')) 

# Размножим количество строк по каждому фильму на количество актеров
data_splitted_by_cast1 = data_new5.explode('cast')

# Группируем и считаем количество фильмов по каждому актеру
expensive_films_by_cast = data_splitted_by_cast1.groupby(['cast'])['imdb_id'].nunique().reset_index()
expensive_films_by_cast[expensive_films_by_cast['imdb_id'] == expensive_films_by_cast['imdb_id'].max()]

           cast  imdb_id
965  Matt Damon       18

In [149]:
# Ответ
answers['16'] = '3. Matt Damon' # +

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [154]:
# Сначала скопируем датафрейм, чтобы работать с ним независимо от исходного
data_new6 = data.copy(deep=True)
# Решение
# Отбираем фильмы, в которых снимался Николас Кейдж
data_new6 = data_new6[data_new6['cast'].apply(lambda x: 'Nicolas Cage' in x)][['imdb_id', 'cast', 'genres']]

# Преобразуем строку в список жанров
data_new6['genres'] = data_new6['genres'].apply(lambda x: x.split('|')) 

# Размножим количество строк по каждому фильму на количество жанров
data_splitted_by_genre2 = data_new6.explode('genres')
data_splitted_by_genre2
# Группируем и считаем количество фильмов по каждому актеру
films_by_genre = data_splitted_by_genre2.groupby(['genres'])['imdb_id'].nunique().reset_index()
films_by_genre[films_by_genre['imdb_id'] == films_by_genre['imdb_id'].max()]

   genres  imdb_id
0  Action       17

In [155]:
# Ответ
answers['17'] = '2. Action' # +

# 18. Самый убыточный фильм от Paramount Pictures

In [161]:
# Сначала скопируем датафрейм, чтобы работать с ним независимо от исходного
data_new7 = data.copy(deep=True)
# Решение
# Отбираем фильмы, где участвовала Paramount Pictures
data_new7 = data_new7[data_new7['production_companies'].apply(lambda x:'Paramount Pictures' in x)]
data_new7[data_new7['profit'] == data_new7['profit'].min()] # самый убыточный

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034

In [162]:
# Ответ
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' # +

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [165]:
# Решение
revenue_by_year = data.groupby(['release_year'])['revenue'].sum().reset_index()
revenue_by_year[revenue_by_year['revenue'] == revenue_by_year['revenue'].max()]

    release_year      revenue
15          2015  25449202382

In [166]:
# Ответ
answers['19'] = '5. 2015' # +

# 20. Какой самый прибыльный год для студии Warner Bros?

In [169]:
# Сначала скопируем датафрейм, чтобы работать с ним независимо от исходного
data_new8 = data.copy(deep=True)
# Решение
# Отбираем фильмы, где участвовала Warner Bros
data_new8 = data_new8[data_new8['production_companies'].apply(lambda x:'Warner Bros' in x)]

# Решение
revenue_by_year1 = data_new8.groupby(['release_year'])['revenue'].sum().reset_index()
revenue_by_year1[revenue_by_year1['revenue'] == revenue_by_year1['revenue'].max()]

    release_year     revenue
14          2014  3243064519

In [170]:
# Ответ
answers['20'] = '1. 2014' # +

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [173]:
# Сначала скопируем датафрейм, чтобы работать с ним независимо от исходного
data_new9 = data.copy(deep=True)
# Решение
data_new9['release_month'] = data_new9['release_date'].dt.month

# Группируем и считаем количество фильмов по каждому месяцу
films_by_month = data_new9.groupby(['release_month'])['imdb_id'].nunique().reset_index()
films_by_month[films_by_month['imdb_id'] == films_by_month['imdb_id'].max()]

   release_month  imdb_id
8              9      227

In [174]:
# Ответ
answers['21'] = '4. Сентябрь' # +

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [177]:
# Сначала скопируем датафрейм, чтобы работать с ним независимо от исходного
data_new10 = data.copy(deep=True)
# Решение
data_new10['release_month'] = data_new10['release_date'].dt.month
summer = [6, 7, 8]

summer_films = data_new10[data_new10['release_month'].isin(summer)]
summer_films.imdb_id.nunique()

450

In [178]:
# Ответ
answers['22'] = '2. 450' # +

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)